.article-image{
    display: inline-block;
    margin: 0px 10px 10px 10px;
    width: 250px;
    height: 150px;
}

.article{
    display: flex;
}

.article-content{
    flex-direction: column;
    margin: 0px 0px 10px 10px;
    max-width: 100%;
    min-width: 250px;
}

.title-style{
    margin: 0px;
}

.description-style{
    margin: 7px 0px 7px 0px;
    font-size: 17px;
}

.reference-style{
    text-decoration: none;
}