.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.article-container-style{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
}

.article-header{
    font-family: "Courier New", sans-serif;
    text-align: center;
}

.article-image{
    display: inline-block;
    margin: 0px 10px 10px 10px;
    width: 250px;
    height: 150px;
}

.article{
    display: flex;
}

.article-content{
    flex-direction: column;
    margin: 0px 0px 10px 10px;
    max-width: 100%;
    min-width: 250px;
}

.title-style{
    margin: 0px;
}

.description-style{
    margin: 7px 0px 7px 0px;
    font-size: 17px;
}

.reference-style{
    text-decoration: none;
}

.cursor{
    cursor: pointer;
}

@media (max-width: 1000px) {
    .flex-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .article-container-style{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .article{
        display: flex;
        flex-direction: column;
    }

    .article-image-div{
        display: flex;
        justify-content: center;
    }

    .article-content{
        display: flex;
        justify-content: center;
        max-width: 250px;
    }
}
